.important {
  display: flex;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  background-color: black;
}

#important {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}

.imageone {
 height: 50px;
 margin-left: 10px;
}

.navigation {
  text-decoration: underline;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  display: flex;
  align-items: flex-start;
  width: 89%;
}

#navigation {
  display: flex;
  align-items: flex-end;
  width: 9%;
}

.bigcontent {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 70px;
}

.main  {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.maintwo {
    background-color: black;
    margin-top: 260px;
    margin-bottom: 260px;
    width: 1200px;
    height: 145px;
}

.middle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.middletwo {
  display: block;
}

.photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-content: center;
}

.image {
  height: 200px;
  width: 300px;
}

#phototwo {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ape {
  margin-top: 10px;
}

.photothree {
  height: 200px;
  width: 300px;
  text-align: center;
}

.photofour {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-content: center;
}

#photofive {
  width: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cat {
  width: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.dog {
  margin-top: 10px;
}

.dogtwo {
  margin-top: 10px
}

.one {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-content: center;
}

.bottom {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.two {
  background-color: black;
  width: 300px;
  margin-right: 40px;
}

.three {
  background-color: black;
  width: 300px;
  margin-right: 40px;
}

#four {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: center;
}

.five {
  background-color: black;
  width: 300px;
  margin-right: 40px;
  opacity: 1 !important;
}

#bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}
